/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

/*** Colors ***/

:root {
  --bg-color: #22234B;
  --bg-color-card: #c2c2d1;
  --card-title: #d7d7e5;

  --text-color-primary: #ffffff;
  --text-color-secondary: #7a7a7a;
  --text-color-disabled: #e3e3e3;

  --primary-color: #F3514E;
  --secondary-color-blue: #148eff;
  --secondary-color-purple: #8e7cc3;
  --secondary-color-green: #609a47;
  --red: #F3514E;

  --dp04: #242424;
  --dp05: #140e4d;
  --bg_blue: #090a11;
  /* #1E1D2B, #252736, #1B1F30 */
  --line: #ffffff;
  --border-color: #ffffff;
}

/*** Basic structure ***/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--dp04); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dp05); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg_blue); 
}


@media (max-width: 800px) {
  .top_row {
    flex-direction: column;
    gap:30px;
    margin-bottom:30px;
  }

  .character_link {
    align-items: center!important;
    padding:5%;
  }

  .character {
    width:100%!important;
  }

  .line {
    width:100%!important;
  }

  .door{
    width:80%!important;
  }

  .roll{
    flex-direction: column;
    width:100%!important;
  }

  .rollCheck {
    width: 100%!important;
    margin-bottom: 2%;
  }

  .rollDescription{
    width:100%!important;
  }

  .rollButton {
    margin-top:10%;
    margin-right:0!important;
    width: 100%;
    padding:10px 20px!important;
  }

  .rollNumber{
    width: auto!important;
  }

  .roll input{
    width:30px!important;
    height:30px;
  }

  .doorOpen hr {
    width:100%!important;
  }
}

#background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  width:auto;
}

p,
label,
a {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
}

#total {
  margin: 0 !important;
  padding: 0 !important;
}

#grid {
  display: initial;
  margin: 0.5% 5%;
}

#title {
  color: var(--text-color-primary);
  text-align: center;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  letter-spacing: 5px;
}

.top_row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.character {
  float: right;
  color: var(--text-color-primary);
  border: none;
  cursor: pointer;
  letter-spacing: 0.5rem;
  /*font-size: larger;*/
  text-transform: uppercase;
  width: 40%;
  margin: 0;
  margin-bottom: 7px;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  /*background-color: var(--bg-color);*/
  text-decoration: none;
  text-align: center;
}

.inspiration_dice {
  float: left;
  align-items: center;
  display: flex;
}

.character_link {
  align-items: center;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

input {
  background-color: var(--text-color-primary);
  width: 10%;
  height: 20px;
}

.inspiration {
  width: 100px;
  vertical-align: middle;
}

.operation {
  width: 50px;
  cursor: pointer;
}

.line {
  width: 40%;
}

.door {
  position: relative;
  height:45vh;
  display: flex;
  flex-direction: column;
  /*background-color: var(--bg_blue); */
  width: 80%;
  border-radius: 10px;
  transform-origin: center;
  transition: all 1s ease-in-out;
  cursor: pointer;
  border: 1px solid var(--primary-color);

  /*
  box-shadow:
  0 0 0.1vw  0.1vw #fff7f7,   
  0 0 0.4vw  0.15vw #e97272, 
  0 0   3vw  0.1vw #e50b0b,

  inset 0 0 1.5vw  0.1vw #e50b0b,
  inset 0 0 0.4vw  0.05vw #e97272,
  inset 0 0 0.5vw  0.05vw #fff7f7;
  */

  color: #fff;
  margin: 40px auto;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);

  .shorttitle {
    display: none;
  }

  .doortotal {
    width:auto;
  }
}



.doortotal {
  border-radius: 10px;
  /*background-color: var(--bg_blue);*/
  color: #fff;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  display: flex;
}

.doorOpen {
  cursor: pointer;
  height:45vh;
  width: 7%;
  transition: all 1s ease-in-out;
  transform-origin: center;
  display: flex;
  flex-direction: column;
 /* background-color: var(--bg_blue); */
  color: #fff;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px 0 0 10px;
  padding:0 20px;

  
  .doortotal {
    width: -webkit-fill-available;
  }

  .icons,
  h3 > span,
  input {
    display: none;
    transition: all 1 ease-in-out;
  }

  .shorttitle {
    display: block;
  }

  h3::after {
    transition: all 1 ease-in-out;
  }

  hr {
    width: 6vh;
    transition: all 1 ease-in-out;
  }
}

h3 {
  color: var(--text-color-primary);
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  text-align: left;
  padding-left: 20px;
  background-color: var(--bg_blue);
  border-radius: 10px;
}

.door_title {
  text-align: center;
  padding: 0;
  color: var(--card-title);
  background-color: var(--bg-blue) !important;
}

.icons {
  max-height: 22vh;
  /*background-color: var(--bg_blue); */
  margin: auto;
  padding: 5%;
  max-width: 80%;
  height: auto;
}

.calender {
  margin:3% 3%;
  display: flex;
}

.separation {
  width: 80%;
  /*height: 2px;*/
  background-color: var(--line);
  border-color: var(--line);
}

@keyframes type{ 
  from {color: var(--bg_blue);}
  to {color: var(--bg-color-card);}
} 

.doorContent {
  width: 95%;
  height: 45vh;
  /* background-color: var(--bg_blue); */
  color: #fff;
  background-color: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  float: right;
  border-radius: 0 10px 10px 0;
  transition: all 1.5s ease-in-out;
  transform-origin: top left; 
  padding:0 15px;
  overflow-y:auto;

  p,
  input,
  div {
    /*background-color: var(--bg_blue); */
    color: var(--bg-color-card);
    animation: type 2s steps(60, end); 
  }
}

.doorContentEmpty {
  width: 0%;
  height: 45vh;
 /* background-color: var(--bg_blue); */
  float: left;
/*   margin-top: 30px; */
  border-radius: 0 10px 10px 0;
  transform-origin: top left;
  transition: all 1s ease-in-out;

  *,
  .item,
  .roll {
    display: none;
    background-color: var(--bg-color);
  }
}

.roll {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input,
  label {
    margin-left: 10px;
  }

  input {
    width: 10%;
    display: flex;
  }

  label {
    background-color: (var(--bg-blue));
  }

  .rollCheck {
    width: 20%;
    display: flex;
    align-items: center;
  }

  .checkbox {
    -webkit-appearance: none;
    /*background-color: #28282f !important;*/
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    border-radius: 3px;
    width: 20px;
    cursor: pointer;
  }

  .checkbox:checked:after {
    content: "\2714";
    color: white;
    margin: auto;
    /*background-color: #28282f !important;*/
    color: rgba(255,255,255,0.8);
    border-radius: 3px;
  }
}

.rollDescription {
  width: 60%;
  display: inline-flex;
  align-items: center;
}

.rollButton {
  margin-right: 5%;
  color: var(--primary-color);
  /*background-color: var(--bg-blue);*/
  border-radius: 10px;
  border: solid 1px var(--primary-color);
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  background-color: rgba(255,255,255,0.005);
  backdrop-filter: blur(30px);
}

.rollNumber {
  border-color: var(--line);
  /*background-color: #28282f !important;*/
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
}

.rollNumber:focus {
  outline: none;
}

// ITEMS

.item {

  margin: auto;
  display: block;
}

// ENCOUNTER

.link {
  color: var(--primary-color) !important;
  cursor: pointer;
}

//FOOTER

.footer {
  margin-top: 100px;
  background-color: var(--dp05);
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 20px;

  a {
    color: var(--primary-color);
    font-size: small;
    text-align: center;
    text-decoration: none;
  }
  p {
    color: var(--text-color-primary);
    text-align: center;
    font-size: small;
  }
}
