/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

/*** Colors ***/

:root {
  --bg-color: #090a11;
  --bg-color-card: #ffffff;

  --text-color-primary: #ffffff;
  --text-color-secondary: #7a7a7a;
  --text-color-disabled: #E3E3E3;

  --primary-color: #4797E0;
  --secondary-color-blue: #148EFF;
  --secondary-color-purple: #8e7cc3;
  --secondary-color-green: #609A47;
  --red: #ff1414;

  --dp04: #242424;
  --bg_blue: #16161D;
  /* #1E1D2B, #252736, #1B1F30 */
  --line: #252736;

  --border-color: #FFFFFF;
}

/*** Basic structure ***/

body {
background-color: var(--bg-color);
}

p, label, a {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
}

#grid{
  display:grid;
  margin:0.5% 5%;
}

#title {
color: var(--text-color-primary);
text-align: center;
font-family: 'Waiting for the Sunrise', Arial, Helvetica, sans-serif;
font-size: 3rem;
letter-spacing: 5px;
}

.top_row {
  position:relative;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.character {
  float: right;
  color: var(--text-color-primary);
  border:none;
  cursor: pointer;
  letter-spacing: 0.5rem;
  font-size: larger;
  text-transform: uppercase;
  width:40%;
  margin:0;
  margin-bottom: 7px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  text-decoration:none;
  text-align: center;
}

.inspiration_dice {
  float:left;
  align-items: center;
  display: flex;
}

.character_link {
  align-items: center;
  flex-direction:column;
  display: flex;
  align-items:end;
}

input {
  background-color: var(--text-color-primary);
  width:10%;
  height: 20px;
}

.inspiration{
  width:100px;
  vertical-align: middle;
}

.operation {
  width:50px;
  cursor:pointer;
}

.line {
  width:40%;
}

.door {
  position:relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg_blue);
  width:30%;
  height:30vh;
  margin-top:30px;
  border-radius: 10px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
}

.doorOpen {
  cursor:pointer;
  width:7%;
  height:30vh;
  transition: all 1s ease-in-out;
  display:relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg_blue);
  margin-top:30px;
  border-radius: 10px 0 0 10px;

  .icons, h3 >span  {
    display:none;
    transition: all 1 ease-in-out;
/*     background-color: var(--bg_blue);
    border-color: var(--bg_blue); */
  }

  h3::after {
    content:"1";
    transition: all 1 ease-in-out;
  }

  hr {
    width:6vh;
    transition: all 1 ease-in-out;
  }

}

h3 {
  color: var(--text-color-primary);
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  text-align: left;
  padding-left:20px;
  background-color: var(--bg_blue);
  border-radius: 10px;
}

.door_title {
  text-align: center;
  padding:0;
  color:#fFFFFF;
  background-color: var(--bg-blue)!important;
}

.icons {
  height: 50%;
  background-color: var(--bg_blue);
  margin: auto;
}

.calender {
  margin-top:3%;
  display:flex;
}

.separation {
  width:80%;
  height:2px;
  background-color: var(--line);
  border-color: var(--line);
}

.doorContent {
  width:95%;
  height:30vh;
  background-color: var(--bg_blue);
  float:right;
  margin-top:30px;
  border-radius: 0  10px 10px 0 ;
  transform-origin: left;
  transition: all 1s ease-in-out;

  p, input, div {
    background-color: var(--bg_blue);
    color:Var(--bg-color-card);
  }
}


.doorContentEmpty {
  width:0%;
  height:30vh;
  background-color: var(--bg_blue);
  float:right;
  margin-top:30px;
  border-radius: 0  10px 10px 0 ;
  transform-origin: left;
  transition: all 1s ease-in-out;

  *, .item {
    display:none;
  }
}

.roll {
  display: flex;
  align-items:center;
  justify-content:space-between;

  input, label {
    margin-left:10px;
  }

  input {
    width:10%;
    display: flex ;
  }

  label {
    background-color: (var(--bg-blue));
  }

  .rollCheck{
    width:20%;
    display: flex;
    align-items: center;
  }

  .checkbox {
    -webkit-appearance: none;
    background-color:#28282F!important;
    border-radius: 3px;
    border: 2px solid var(--line);
    width:20px;
    cursor:pointer;
  } 

  .checkbox:checked:after {
    content: '\2714';
    color:white;
    margin: auto;
    background-color:#28282F!important;
    border-radius: 3px;
  } 
  
}

.rollDescription {
  width:60%;
  display: inline-flex;
  align-items: center;
}

.rollButton {
  width:10%;
  margin-right:5%;
  color:var(--primary-color);
  background-color: var(--bg-blue);
  border-radius: 10px;
  border:solid 1px  var(--primary-color);
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
}

.rollNumber {
  border-color: var(--line);
  background-color: #28282F!important;
  border-radius: 10px;
  padding:5px 10px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
}

.rollNumber:focus {
  outline:none;
}


// ITEMS 

.item {
  height:60%;
  margin:auto;
  display: block;
}



// ENCOUNTER

a {
  color: var(--primary-color);
  cursor: pointer;
}